.aboutUs {
  margin-top: 123px;

  position: relative;
  z-index: 3;
  &::before {
    position: absolute;
    z-index: -2;
    content: "";
    background-image: url("./../../img/aboutUs/decor.png");
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    width: 957px;
    height: 801px;

    left: -450px;
    top: -300px;
    @media (max-width: 1800px) {
      left: -50%;
    }
    @media (max-width: 1366px) {
      top: -100px;
      left: -60%;
    }
    @media (max-width: 615px) {
      width: 757px;
      height: 500px;
    }
    @media (max-width: 530px) {
      width: 557px;
      height: 300px;
      top: 30%;
      bottom: 0;
    }
    @media (max-width: 363px) {
      display: none;
    }
  }
}

.aboutUs__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 885px) {
    flex-direction: column;
    gap: 50px;
  }
}
.aboutUs__img {
  overflow: hidden;
  border-radius: 20px;
  @media (max-width: 1099px) {
    img {
      max-width: 500px;
      @media (max-width: 530px) {
        width: 100%;
      }
    }
  }
}
.aboutUs__info {
  max-width: 487px;
}
.aboutUs__hint {
  text-align: left;
  padding-bottom: 11px;
}

.aboutUs__title {
  padding-bottom: 30px;
}

.aboutUs__desc {
  padding-bottom: 30px;
}

.aboutUs__link {
  display: block;
  max-width: 142px;
}
