.features {
  margin-top: clamp(6.438rem, 4.097rem + 11.7vw, 12.875rem);
}

.features__hint {
  padding-bottom: 7px;
}

.features__title {
  text-align: center;
  padding-bottom: 44px;
}
.features__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 899px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
.features__item {
  text-align: center;
  display: grid;
  max-width: 300px;
  position: relative;

  &:first-child {
    @include featuresBg() {
      background-color: #8fa632;
    }
  }
  &:nth-child(2) {
    @include featuresBg() {
      background-color: #e64d22;
    }
  }
  &:last-child {
    @include featuresBg() {
      background-color: #dc780b;
    }
  }
}

.features__img {
  justify-self: center;
}

.features__item-title {
  font-family: var(--font-accent);
  padding-top: 66px;

  font-size: 25px;
  font-weight: 700;
  line-height: 0.96;
}
.features__item-desc {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
